<table>
  <tr>
    <th><u>Title</u></th>
    <th><u>Body</u></th>
    <th><u>Quality</u></th>
    <th><u>Voting</u></th>
    <th><u>Delete This Idea</u></th>
  </tr>

  <tbody id="all-ideas">

    <% @ideas.each do |idea| %>
    <tr data-id='<%= idea.id %>' class='idea'>
      <td contenteditable="true" class="title-text"><%= idea.title %></td>
      <td contenteditable="true" class="body-text"><%= idea.body %></td>
      <td class="quality-text"><%= idea.quality %></td>
      <td><input type="button" class="upvote-idea" value="Upvote"><input type="button" class="downvote-idea" value="Downvote"></td>
      <td><input type="button" value="Delete" class="delete-idea"></td>
    </tr>
    <% end %>
</tbody>
</table>

<h2>Have Another Idea?</h2>
  <div class="form">
    <form>
      Title:<br>
      <input type="text" name="title" id="idea-title"><br>
      Body:<br>
      <input type="text" name="body" id="idea-body"><br><br>
      <input type="submit" value="Save" id="create-idea">
    </form>
  </div>
